html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  background-repeat: no-repeat;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
